#title{
    display: flex;
    justify-content: center;
}
#instructions{
    background: rgba(0, 140, 255, 0.911);
   
    
}
.images{
    width: 100px;
    height: 100px;
    display: inline;
}
#randomNumber{
    width: 150px;
    height: 150px;
    border: solid;

}
#score{
    border: solid;
    background: grey;
    height: 150px;
}
#wins_losses{
    border: solid;
    background: red;
    height: 150px;
}
